.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 24px;

}

.vision h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.vision h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.actions {
  display: flex;
  gap: 30px;
  margin: 48px 0;
  flex-direction: column;
}

.imgvision {
  margin-bottom: 16px;
  height: auto;
  width: auto;
  transform: scale(1);
  /* Smooth transition */
  transition: transform 0.3s ease;
}

.imgvision:hover {
  transform: scale(1.05);
}


/*** Desktop and Up ***/
@media (min-width: 1025px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }

  .actions {
    display: flex;
    gap: 30px;
    margin: 75px 0;
    flex-direction: row;
  }

  .vision {
    padding: 9rem 0;
  }
}

/* 1920px and up*/
@media (min-width: 1920px) {

  .vision {
    font-size: 1.5rem;
    line-height: 150%;
    padding: 9.5rem 0;
  }

  .container {
    max-width: 1440px;
  }

  .vision h3 {
    font-size: 3rem;
  }

}